In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:2431@localhost:5432/employee_db')
connection = engine.connect()

In [ ]:
# Reading in salaries table
salaries_df = pd.read_sql_table("salaries", engine)
salaries_df

In [ ]:
#Creating a histogram to visualize the most common salary ranges for employees. 
salary_range = salaries_df["salary"]
bins = [0, 50000,100000,150000, 200000]
plt.hist(salary_range, bins = bins,edgecolor ="black")
plt.xlabel("salary range")
plt.ylabel("frequency")
plt.title("Salary Range Frequency")

As shown above, the most common salary ranges for employees is $0 to $50,000.

In [ ]:
#Reading in employees table
employees_df = pd.read_sql_table("employees", engine)
employees_df

In [ ]:
#Reading in titles table
titles_df = pd.read_sql_table("titles", engine)
titles_df

In [ ]:
#Merging salaries and employees table
mg1_df = pd.merge(salaries_df,employees_df,on="emp_no")
mg2_df = mg1_df.rename(columns = {"emp_title_id":"title_id"})
mg2_df

In [ ]:
#Merging the table above with title information
mg3_df = pd.merge(mg2_df,titles_df,on="title_id",how="outer")
mg3_df

In [ ]:
#Grouping df by title and calculate average salary
mg4_df = pd.DataFrame(mg3_df.groupby(["title"]).mean()).reset_index()
mg4_df

In [ ]:
#Drop emp_no column
mg5_df = mg4_df.drop(columns = ["emp_no"])
mg5_df

In [ ]:
plt.bar(mg5_df["title"],mg5_df["salary"])
plt.xlabel("Position")
plt.ylabel("Salary")
plt.xticks(mg5_df["title"],rotation=90)
plt.title("Average Salary by Position")